@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;

@tailwind components;

@tailwind utilities;
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #551a8b;
  overflow-x: hidden; 
}


/* styling the hero section */
.main {
    z-index: 0;
  }
  
  div.hero {
    width: 100vw;
    background-image:url(/assets/images/Abstract\ Paper.svg);
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: static;
    z-index: 0;
  }
  
  .content {
    margin: auto;
  }
  
  .hero h2 {
    color: white;
    font-size: 80px;
    overflow: hidden;
  }
  
  .hero h2 span {
    color: #fd4766;
  }
  
  .hero #subtitle {
    font-size: 40px;
  }
  
  .hero #subtitle,
  .abouttxt h3{
    text-transform: uppercase;
    background: linear-gradient(
      120deg,
      #1c99fe 20.69%,
      #7644ff 50.19%,
      #fd4766 79.69%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .hero p {
    color: white;
  }
  
  .btn {
    margin: 10px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
  }
  
  .btn:hover {
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
  }
  
  .btn a {
    color: bisque;
    font-size: 20px;
  }
/* now styling the skill section */
.container-skills{
  color:#fd4766;
  display:flex;
  flex-direction: column;
  width:100vw;
  height:600px;
background:rgb(253, 253, 253);}
.container-skills h2{
  color:#551a8b;
}
.container-skills p{
  color:black;
  text-align: center;
  display:block;
}

.skill{
  margin:110px 10px;
  width: 100vw;
  height:auto;;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-grow: calc(100px);
  flex-wrap: wrap;
  position: absolute;
}

.square {
  margin:0px;
  width: 200px;
  height: 200px;
  display: grid;
  background: rgb(248, 248, 248);
  box-shadow: (10px black ,5px white);
  justify-content: center;
  position: relative;
  margin:20px 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  border: 1px;
  border-radius:40px;

}
.square p{
  display:block;
  margin-bottom:-10px;
}
.square:hover{
  scale:calc(1.2);
  transition:0.1s ease-in-out;
  z-index: 1;
}
.progressbar{
  margin:5px 0px
}

.outer {
  width: 160px;
  height: 160px;
  position: relative;
  top:-2px;
  border: 2px solid white;
  border-radius: 90px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      6px 6px 10px -1px rgba(255, 2550, 255, 0.7);
  padding: 0px;
}

.inner {
  margin: 15px auto;
  width: 120px;
  height: 120px;
  border-radius: 90px;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
.inner p{
  display:absolute;
  position:absolute;
  top:0px;
  left:0px;
}

circle {
  fill:none;
  stroke:#fd4766;
  stroke-width:20px;
  stroke-dasharray:441;
  stroke-dashoffset:441;
  /* animation:myprogress  1 2s linear forwards; */
  
  
}
#circle-1{animation:myprogress90 2s linear forwards;}
#circle-2{animation:myprogress80 2s linear forwards;}
#circle-3,#circle-4{animation:myprogress50 2s linear forwards;}

svg {
  position: absolute;
  top: -4px;
  left: -1px;
}
.number{
  margin:auto;
  width:100px;
  height: auto;
  position:absolute;
  bottom:50px;
  left:30px;
  font-weight: 500;
  font-size: 40px;
}

@keyframes myprogress90{
  from{
      stroke-dashoffset:441;
  }
  to{
      stroke-dashoffset:44;
  }
  
}
@keyframes myprogress80{
  from{
      stroke-dashoffset:441;
  }
  to{
      stroke-dashoffset:88;
  }
  
}
@keyframes myprogress50{
  from{
      stroke-dashoffset:441;
  }
  to{
      stroke-dashoffset:220;
  }
  
}